In [35]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Import API key
gkey = "AIzaSyAlt7La4MRdfMKAOr384NINOxodeiJ-Oa8"

In [36]:
# Import cities file into the cities_pd DataFrame
file = "/Users/williampappas/Desktop/GitLab/01-Class-Activities/06-Python-APIs/4/10-Par_Google_Complex/Resources/Cities.csv"
cities_pd = pd.read_csv(file)
cities_pd.head()

            City         State
0  New York City      New York
1    Los Angeles    California
2        Chicago      Illinois
3        Houston         Texas
4   Philadelphia  Pennsylvania

In [37]:
# Add columns for lat, lng, airport name, airport address, airport rating.
# Hint: Be sure to specify "" as the initial value for each column.
cities_pd['lat'] = ""
cities_pd['lng'] = ""
cities_pd['airport name'] = ""
cities_pd['airport add'] = ""
cities_pd['airport rating'] = ""

cities_pd.head()

            City         State lat lng airport name airport add airport rating
0  New York City      New York
1    Los Angeles    California
2        Chicago      Illinois
3        Houston         Texas
4   Philadelphia  Pennsylvania

In [38]:
# Loop through the cities_pd and get the lat/long for each city
# Hint: `requests.get(target_url).json()`
# BIG Hint: `for index, row in cities_pd.iterrows():`
# Hint: `cities_pd.loc`
params = {"key": gkey}
for index, row in cities_pd.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"
    
    city = row["City"]
    state = row["State"]
    
    params["address"] = f"{city},{state}"
    
    cities_lat_lng = requests.get(base_url, params=params)
    
    cities_lat_lng = cities_lat_lng.json()
    
    cities_pd.loc[index, "lat"] = cities_lat_lng["results"][0]["geometry"]["location"]["lat"]
    cities_pd.loc[index, "lng"] = cities_lat_lng["results"][0]["geometry"]["location"]["lng"]
    
cities_pd.head()

,City,State,lat,lng,airport name,airport add,airport rating
0,New York City,New York,40.7128,-74.006,,,
1,Los Angeles,California,34.0522,-118.244,,,
2,Chicago,Illinois,41.8781,-87.6298,,,
3,Houston,Texas,29.7604,-95.3698,,,
4,Philadelphia,Pennsylvania,39.9526,-75.1652,,,

In [42]:
# Use the lat/lng we recovered to identify airports
# Hint: Code is similar to above block (i.e. you will need to use cities_pd.iterrows() again)
# Hint: Use the keyword search for "international+airport"
# Hint: Use a try-except to handle airports that are missing ratings
# params dictionary to update each iteration
params = {
    "radius": 50000,
    "types": "airport",
    "keyword": "international airport",
    "key": gkey
}

# Use the lat/lng we recovered to identify airports
for index, row in cities_pd.iterrows():
    # get lat, lng from df
    lat = row["lat"]
    lng = row["lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "International Airport" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
#     print the name_address url, avoid doing for public github repos in order to avoid exposing key
#     print(name_address.url)

    # convert to json
    name_address = name_address.json()
    # print(json.dumps(name_address, indent=4, sort_keys=True))

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        cities_pd.loc[index, "airport name"] = name_address["results"][0]["name"]
        cities_pd.loc[index, "airport add"] = name_address["results"][0]["vicinity"]
        cities_pd.loc[index, "airport rating"] = name_address["results"][0]["rating"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
cities_pd.head()

,City,State,lat,lng,airport name,airport add,airport rating
0,New York City,New York,40.7128,-74.006,John F. Kennedy International Airport,Queens,3.8
1,Los Angeles,California,34.0522,-118.244,Los Angeles International Airport,"1 World Way, Los Angeles",3.7
2,Chicago,Illinois,41.8781,-87.6298,O'Hare International Airport,"10000 W O'Hare Ave, Chicago",3.8
3,Houston,Texas,29.7604,-95.3698,George Bush Intercontinental Airport,"2800 N Terminal Rd, Houston",4
4,Philadelphia,Pennsylvania,39.9526,-75.1652,Philadelphia International Airport,"8000 Essington Ave, Philadelphia",3.6

In [43]:
# Save Data to csv
cities_pd.to_csv("/Users/williampappas/Desktop/Airport_Output.csv")

# Visualize to confirm airport data appears
cities_pd.head

<bound method NDFrame.head of               City         State      lat      lng  \
0    New York City      New York  40.7128  -74.006
1      Los Angeles    California  34.0522 -118.244
2          Chicago      Illinois  41.8781 -87.6298
3          Houston         Texas  29.7604 -95.3698
4     Philadelphia  Pennsylvania  39.9526 -75.1652
..             ...           ...      ...      ...
95         Fremont    California  37.5485 -121.989
96     Baton Rouge     Louisiana  30.4515 -91.1871
97        Richmond      Virginia  37.5407  -77.436
98           Boise         Idaho   43.615 -116.202
99  San Bernardino    California  34.1083  -117.29

                             airport name  \
0   John F. Kennedy International Airport
1       Los Angeles International Airport
2            O'Hare International Airport
3    George Bush Intercontinental Airport
4      Philadelphia International Airport
..                                    ...
95    San Francisco International Airport
96       Baton Rouge Metropolitan Airport
97         Richmond International Airport
98                          Boise Airport
99          Ontario International Airport

                               airport add airport rating
0                                   Queens            3.8
1                 1 World Way, Los Angeles            3.7
2              10000 W O'Hare Ave, Chicago            3.8
3              2800 N Terminal Rd, Houston              4
4         8000 Essington Ave, Philadelphia            3.6
..                                     ...            ...
95                           San Francisco              4
96     9430 Jackie Cochran Dr, Baton Rouge            4.1
97  1 Richard E Byrd Terminal Dr, Richmond            4.3
98         3201 W Airport Way #1000, Boise            4.5
99              2500 E Airport Dr, Ontario            4.4

[100 rows x 7 columns]>